.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: var(--backgroundColor);
}

.box-container {
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
  width: 72%;
  height: 100%;
}

.navbar {
  position: sticky;
  top: 0;
  padding: 2rem 278px;
  width: 100%;
  height: 85px;
  z-index: 1;
  background-color: var(--navbarBackground);
  display: flex;
  justify-content: space-between;
  align-items: center;
  li {
    text-decoration: none;
    color: white;
    font-size: x-large;
  }
  li:hover {
    color: rgb(134, 133, 133);
  }
  img {
    cursor: pointer;
  }
}

.menu {
  display: none;
  color: white;
  font-size: xx-large;
}

.nav-list {
  display: flex;
  list-style: none;
}

.list-item {
  margin-left: 45px;
  cursor: pointer;
}

.home {
  display: flex;
  width: 100%;
  height: 100vh;
}

.slider-box {
  margin-top: 100px;
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.7);
  img {
    display: none;
    border-radius: 15px;
    object-fit: contain;
  }
}

.slider-box img.image-active {
  display: block;
  max-height: 100%;
}

.fade {
  animation-name: fade;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.slider-container {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 1rem;
}

.slider-dot {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: white;
  transition: opacity 0.6s ease-in-out;
  opacity: 0.5;
}

.active,
.slider-dot:hover {
  opacity: 1;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.box-about {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  figure {
    width: 344px;
    height: 425px;
    background-color: #d9d9d9;
    align-self: center;
  }
  article {
    width: 578px;
    height: 100%;
    span {
      margin-left: 214px;
      color: white;
      text-align: justify;
      font-family: ABeeZee;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    p {
      color: white;
      text-align: justify;
      font-family: ABeeZee;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}

.contact {
  display: flex;
  padding: 2rem 278px;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: black;
  padding-top: 120px;
}

.box-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  figure {
    width: 473px;
    height: 613px;
    background: url("/assets/paisagem-5.png");
    object-fit: cover;
  }
  footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 100px;
    width: 100%;
    span {
      font-family: ABeeZee;
      line-height: normal;
      font-size: 32px;
      color: white;
      font-weight: 400;
    }
  }
}

.icons-box {
  display: flex;
  gap: 20px;
  color: white;
  font-size: xx-large;
  fa-icon {
    cursor: pointer;
  }
}

@media (max-width: 1024px) {
  .navbar {
    justify-content: space-between;
    padding: 0 20px 0 30px;
  }
  .menu {
    display: block;
  }
  .list-item {
    display: none;
  }
}

@media all and (max-width: 600px) {
  .navbar {
    justify-content: space-between;
    padding: 0 5px 0 5px;
  }
  .logo {
    width: 150px;
  }
}
