.container {
  display: flex;
  flex-direction: column;
  gap: 5%;
  width: 100%;
  height: 100vh;
  background-color: var(--backgroundColor);
}

.about-box {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 713px;
}

.image-box {
  align-self: center;
  width: 344px;
  height: 425px;
  background-color: white;
}

.text-box {
  display: flex;
  flex-direction: column;
  width: 578px;
  height: 713px;
  p {
    font-size: large;
    color: white;
  }
  span{
    font-size: large;
    color: white;
    font-weight: bold;
  }
}
