<div class="container">
  <app-navbar />
  <div class="about-box">
    <div class="image-box"></div>
    <div class="text-box">
      <span
        >As imagens podem ser tudo, nunca só um registro. <br />
        <br
      /><br
      /></span>
      <p>
        A lente mira para a intimidade de uma vida, para um espaço pensado para
        confraternizar existências. Ou mesmo para a arquitetura que exibe o
        tempo na sua estrutura imponente para ser avistada de pontos da urbe.<br /><br />
        Há histórias sempre na órbita de um fotógrafo. Há miudezas sobrevoando
        os seus olhos, a sua pele. Um corpo que sente por inteiro para assim
        enquadrar a parte de uma paisagem, um capítulo do ordinário. Dependendo
        da sensibilidade; o extraordinário.<br /><br />
        Dos lares com suas frestas abertas em janelas e varandas para que as
        pupilas dos habitantes alcancem o azul intenso do oceano, do céu. Também
        os feixes luminosos solares fazedores de sombras brincalhonas e
        geometrias efêmeras no espaço.<br />
        <br />A vida flui nas minúcias perceptíveis e outras nem tanto. Mas cabe
        ao fotógrafo perceber, prenunciar a matéria que o envolve. A vivenciada
        numa metragem. A silhueta do mobiliário que vira poesia. As flores
        descansadas em vasos. Os livros sobrepostos em (des)ordem. Os objetos
        espalhados a contar uma narrativa.<br />
        <br />Quem não precisa de beleza, encharcar-se com a demora de um olhar,
        com o prazer invisível e visível? Avistar uma cena demarcada pela
        subjetividade de quem pisa naquele chão...<br />
        <br />Traduzir a luz do sol. Espera-lo forjar sua cena, os climas e
        atmosferas ajustados com sua presença. Seduzi-lo. Não é questão de
        tempo, somente busca por outras consciências de visão.<br />
        <br />As imagens podem ser tudo! Tudo mesmo que se fabula, se cultiva no
        dia a dia, se capta com o olhar e a lente. Mas nunca serão só um
        registro.
      </p>
      <p style="align-self: flex-end;"><br/>Lu de Moraes</p>
    </div>
  </div>
</div>
